@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,700;1,300;1,500&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --color-title: #0f1419;
  --primary-color: #1d9bf0;
  --message-color-error: #EF5350;
  --message-border-error: #E53935;
  --message-color-success: #08864b;
  --message-border-success: #124d2c;
}

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  color: var(--color-title);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/***
**** NAVBAR **/
#logo img {
  height: 30px;
}

#navbar {
  padding: 1.2em 1.4em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

#navbar ul {
  display: flex;
  list-style: none;
}

#navbar ul li {
  margin-left: 1em;
}

#navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

/***
**** CONTAINER **/
.container {
  min-height: 60vh;
  padding: 2em;
}

/***
**** MENSAGES **/
.message-error {
  padding: 1em;
  background-color: var(--message-color-error);
  border: 1px solid var(--message-border-error);
  color: #fff;
  text-align: center;
  margin: 0 auto 2em;
  width: 650px;
}

.message-success {
  padding: 1em;
  background-color: var(--message-color-success);
  border: 1px solid var(--message-border-success);
  color: #fff;
  text-align: center;
  margin: 0 auto 2em;
  width: 650px;
}

/***
**** LOGIN AND REGISTER **/
.auth-container {
  max-width: 650px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #eeeded;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.auth-container h2 {
  margin-bottom: 1em;
  font-size: 2em;
}

.auth-container a {
  color: var(--primary-color);
  font-weight: 600;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form-control label {
  font-weight: bold;
  margin-bottom: .5em;
}

.form-control input,
.form-control textarea {
  padding: 7px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

form input[type='submit'],
.btn {
  background-color: var(--primary-color);
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  padding: .5em 1.2em;
  margin-bottom: 1em;
  font-size: 1em;
  cursor: pointer;
}

/***
**** CREATE / EDIT FORM **/
.insights-form--container a {
 color: var(--primary-color);
}

.insights-form--container h2 {
  margin: 1em 0;
  padding: .3em;
}

.insights-form--container form {
  max-width: 30%;
  margin-top: 1.5em;
}

/***
**** DASHBOARD **/
.title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5em;
}

.title-container h2 {
  padding: 10px;
}

.dashboard {
  margin-bottom: 1.5em;
}

.dashboard li {
  display: flex;
  border-bottom: 1px solid var(--primary-color);
  padding: 12px;
  align-items: center;
  justify-content: space-between;
}

.dashboard .actions {
  display: flex;
}

.dashboard .actions .btn.delete {
  background-color: var(--message-color-error);
  margin-left: .2em;
}

/***
**** FOOTER **/
footer {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer span {
  font-weight: bold;
  color: var(--primary-color);
}
