@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,700;1,300;1,500&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --color-title: #0f1419;
  --primary-color: #1d9bf0;
}

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  color: var(--color-title);
}

/***
**** NAVBAR **/
#logo img {
  height: 30px;
}

#navbar {
  padding: 1.2em 1.4em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

#navbar ul {
  display: flex;
  list-style: none;
}

#navbar ul li {
  margin-left: 1em;
}

#navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

/***
**** CONTAINER **/
.container {
  min-height: 60vh;
  padding: 2em;
}


/***
**** FOOTER **/
footer {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer span {
  font-weight: bold;
  color: var(--primary-color);
}
