<div class="insights-form--container">
  <a href="/dashboard">Voltar</a>
  <h2>Conte seu Insight</h2>
  <form action="/add" method="POST">
    <div class="form-control">
      <label for="title">Título:</label>
      <input type="text" name="title" placeholder="No que você está pensando ?">
    </div>
      <input type="submit" value="Criar insight">
  </form>
</div>
