<div class="dashboard">
  <div class="title-container">
    <h2>Dashboard</h2>
    <a href="/add" class="btn">Adicione seus Insights</a>
  </div>
  <h3>Seus Insights</h3>
  <ul>
    {{#each userInsights}}
      <li>
        <span class="label">{{this.title}}</span>
        <span class="actions">
          <a href="/edit/{{this.id}}" class="btn">Editar</a>
          <form action="/delete" method="POST">
            <input type="hidden" name="id" value="{{this.id}}">
            <input type="submit" value="Excluir" class="btn delete">
          </form>
        </span>
      </li>
    {{/each}}
  </ul>
  {{#if emptyInsights}}
    <p>Ainda não existem Insights seus...</p>
  {{/if}}
</div>
